// * {
//   font-family: 'Open Sans', sans-serif !important;
// }
.cpe-sidebar {
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  position: fixed;
  top: 0;
  bottom: 0;
  transition: right 0.3s;
  right: -500px;
  width: 500px;
  background: #fafafa;
  border-left: 1px solid rgba(0,0,0,.07);
  z-index: 10000;
  box-shadow: 0 0 4px 1px rgba(154, 154, 154, 0.3);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */


  * {
    color: black;
    font-family: Arial;
  }

  .signup-form {
    h3 {
      font-size: 27px;
    }
    .form-group {
      margin-top: 15px;

      label {
        display: block;
      }
      input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 3px;
        border: 1px solid gainsboro;
      }
      .text-muted {
        color: #6c757d;
        font-size: 13px;
      }

    }
    button {
      padding: 10px;
      font-size: 19px;
      border-radius: 3px;
      margin-top: 15px;
      background-color: #007bff;
      color: white;
    }
    button:hover {
      background-color: #0069d9;
    }
    .signup-p {
      margin-top: 20px;
    }
    .alert {
      color: #b51919;
      margin-top: 5px;
    }
  }
}

.sticky-footer {
  position: fixed;
  background: rgb(38, 50, 56);
  bottom: 0;
  transition: right 0.3s;
  width: 500px;
  right: -500px;
}

.cpe-sidebar-visible {
  right: 0;
}
.cpe-panel-highlighted-text {
  line-height: 23px;
  margin-bottom: 0;
  display: inline-block;
  background: rgb(255, 232, 225);
  border-radius: 5px;
  padding: 8px;
}
.multi-cpe-panel-highlighted-text {
  margin: 10px 0;
}
.multi-cpe-panel-highlighted-text:hover {
  cursor: pointer;
}
.cpe-panel-highlighted-header {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black;
}

.cpe-close-button {
  margin-bottom: 30px;
  display: inline-block;
}

mark, .cpe_highlight {
  background: #ffbba7;
  padding: 0;
  padding: 0;
  border-radius: 3px;
}
mark:hover, .cpe_highlight:hover {
  background: #ffab91;
  cursor: pointer;
}
#cpe-modal-container {
  z-index: 100000000;
  overflow: scroll;
}
.panel-header-shared {
  padding: 20px;
}

.panel-header {
  background: #263238;
  overflow: auto;
  padding: 10px 20px;
}
.panel-highlight {
  background-color: white;
  border-bottom: 1px solid gainsboro;
}
.fa.fa-user.profile-picture {
  display: none !important;
}
.panel-header-brand {
  float: left;
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 0;
  color: white;
}
.panel-header-close {
  float: right;
  margin-top: 9px;
  color: gainsboro;
}
.panel-header-close:hover {
  color: white;
  cursor: pointer;
}
.logout-btn {
  display: inline-block;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  background: #FF5722;
  margin: 3px;
  font-size: 14px;
  float: right;
  margin: 5px;
}

.logout-btn:hover {
  cursor: pointer;
}
.multi-highlight-container {
  padding: 10px;
}
.sticky-footer-invisible {
  display: none;
}
.comments-footer-offset {
  height: 25px;
}
